  services:
    angular-app:
      build: ./frontend
      container_name: angular-frontend
      ports:
        - "4200:80"
      networks:
        - securise_net
    securise-app:
#      image: azzedine122/securise-app:latest
      build: .
      container_name: securise-app
      environment:
        SPRING_DATASOURCE_URL: jdbc:mysql://al-bank-mysql:3306/securise
        SPRING_DATASOURCE_USERNAME: root
        SPRING_DATASOURCE_PASSWORD: root
        JWT_SECRET: ${JWT_SECRET}
        JWT_EXPIRATION: ${JWT_EXPIRATION}
        APP_UPLOAD_DIR: /app/uploads
        LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY: DEBUG
      volumes:
        - ./uploads:/app/uploads
      ports:
        - "7001:8080"
      depends_on:
        - al-bank-mysql
      networks:
        - securise_net

    al-bank-mysql:
      image: mysql:8
      container_name: al-bank-mysql
      environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: securise
      ports:
        - "3309:3306"
      volumes:
        - mysql_data:/var/lib/mysql
      networks:
        - securise_net

  networks:
    securise_net:
      driver: bridge


  volumes:
    mysql_data:
