name: CI/CD Spring Boot with Docker

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean install -DskipTests

      - name: Pull prebuilt Docker image
        run: docker pull azzedine122/securise-app:latest

      - name: Docker Compose Down
        run: docker compose down -v

      - name: Docker Compose Up
        run: docker compose up -d
