name: CI/CD Spring Boot

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean install -DskipTests

      - name: Set up Docker Compose
        uses: docker/setup-buildx-action@v2

      - name: Docker Compose Down
        run: docker compose down

      - name: Docker Compose Up (Build)
        run: docker compose up --build -d
